<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.ibr.dtn"
    android:versionCode="32"
    android:versionName="0.10" >

    <permission
        android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"
        android:description="@string/permdesc_dtnCommunication"
        android:label="@string/permlab_dtnCommunication"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="normal" />

	<permission android:name="de.tubs.ibr.dtn.permission.DTN_SERVER"
	        android:label="@string/permlab_dtnCommunicationServer"
	        android:description="@string/permdesc_dtnCommunicationServer"
	        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
	        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- READ_LOGS is needed on Android < 4.1, On Android >= 4.1 an app can read it's own logs without permission -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_SERVER"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".daemon.Preferences"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DaemonService"
            android:permission="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"
            android:exported="true"
            android:label="@string/app_name_daemon">
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.REGISTER" />
                <action android:name="de.tubs.ibr.dtn.intent.UNREGISTER" />
                <action android:name="de.tubs.ibr.dtn.DTNService" />
            </intent-filter>
        </service>
        
        <activity
            android:name="de.tubs.ibr.dtn.daemon.NeighborActivity"
            android:icon="@drawable/ic_neighbors"
            android:label="@string/list_neighbors" />
        <activity
            android:name=".daemon.LogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_log"
            android:label="@string/list_logs" />
        <activity
            android:name="de.tubs.ibr.dtn.daemon.AppListActivity"
            android:label="@string/applist"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="de.tubs.ibr.dtn.daemon.StatsActivity"
            android:icon="@drawable/ic_action_stats"
            android:label="@string/stats_activity" />

        <receiver
            android:name=".service.OnBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="IntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".stats.CollectorService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".stats.DataReceiver"
            android:exported="false"
            android:label="DataReceiver" >
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.EVENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
		<receiver
			android:name=".service.NetworkStateReceiver"
			android:label="NetworkStateReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>
    </application>

</manifest>