Source: ibrdtnd
Section: net
Priority: standard
Maintainer: Johannes Morgenroth <morgenroth@ibr.cs.tu-bs.de>
Build-Depends: cdbs (>= 0.4), debhelper (>= 7.0), autotools-dev, ibrcommon-dev, ibrdtn-dev, libsqlite3-dev, libcurl4-openssl-dev (>= 7.18), libdaemon-dev (>= 0.12), pkg-config, dtndht-dev (>=0.2.2)
Standards-Version: 3.9.4
Homepage: http://www.ibr.cs.tu-bs.de/projects/ibr-dtn/

Package: ibrdtnd
Architecture: any
Pre-Depends: debconf, adduser
Depends: ${shlibs:Depends}, ${misc:Depends}, ibrcommon1, ibrdtn1, libsqlite3-0, libcurl3 (>= 7.18), libdaemon0 (>= 0.12), dtndht1, openssl
Suggests: logrotate (>= 3.0.0), ibrdtn-tools
Description: IBR-DTN daemon
	The implementation of the bundle protocol of the IBR (TU Braunschweig).
	.
	This package contains the daemon binary of IBR-DTN.

Package: ibrdtnd-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ibrdtnd (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for ibrdtnd
	The implementation of the bundle protocol of the IBR (TU Braunschweig).
	.
	This package contains the debugging symbols for ibrdtnd.

Package: munin-plugins-ibrdtnd
Architecture: any
Priority: optional
Depends: ibrdtnd, python, munin-plugins-core, ${misc:Depends}
Description: Munin plugins for IBR-DTN
	This package contains plugins for the munin framework. These collect
	general statistics of the running daemon for representation within
	the monitor pages.

