[submodule "android/GraphView"]
	path = android/GraphView
	url = git@github.com:jjoe64/GraphView.git
[submodule "android/speex"]
	path = android/speex
	url = https://github.com/yayanyang/speex-android.git
