[submodule "android/speex"]
	path = android/speex
	url = https://github.com/yayanyang/speex-android.git
[submodule "android/android-quick-response-code"]
	path = android/android-quick-response-code
	url = https://github.com/TechSmith/android-quick-response-code.git
[submodule "android/showcaseview"]
	path = android/showcaseview
	url = https://github.com/ejonny/ShowcaseView.git
