<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.ibr.dtn.sharebox"
    android:versionCode="1"
    android:versionName="0.1" >
    
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.TransferListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name="de.tubs.ibr.dtn.sharebox.DtnService"
            android:permission="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION">
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.SENDFILE" />
                <category android:name="de.tubs.ibr.dtn.intent.category.SERVICES" />
            </intent-filter>
        </service>
        
	    <receiver
	        android:enabled="true"
	        android:name=".DtnReceiver"
	        android:exported="true"
	        android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER">
	        <!-- Add intent filter for notification of incoming bundles -->
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />
	            <category android:name="de.tubs.ibr.dtn.intent.category.SESSION" />
	        </intent-filter>
	        <!-- Add intent filter for status reports generated by the DTN service -->
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.STATUS_REPORT" />
	            <category android:name="de.tubs.ibr.dtn.intent.category.SESSION" />
	        </intent-filter>
	    </receiver>
	    
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.TransferListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tubs.ibr.dtn.sharebox.ui.TransferListActivity" />
        </activity>
        
        <activity
            android:icon="@drawable/ic_download"
            android:name=".ui.PendingDialog"
            android:label="@string/title_activity_pending_dialog"
            android:theme="@style/Theme.Dialog"
            android:excludeFromRecents="true" />
        
        <activity android:icon="@drawable/ic_download"
            android:name=".ui.PackageFileActivity"
            android:label="@string/title_activity_download" />
    </application>

</manifest>
