<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.ibr.dtn.minimalexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name=".MyDtnIntentService"
            android:exported="false" />

        <receiver
            android:name=".DtnBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER" >

            <!-- Add intent filter for notification of incoming bundles -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />

                <category android:name="de.tubs.ibr.dtn.minimalexample" />
            </intent-filter>
        </receiver>

        <activity android:name=".Example" />
        <activity
            android:name=".ExampleActivity"
            android:label="@string/title_activity_example" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
