<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.ibr.dtn.dtalkie"
    android:versionCode="13"
    android:versionName="1.1" >

	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
    
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".TalkieActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="de.tubs.ibr.dtn.intent.DTNAPP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".TalkieDialog"
            android:label="@string/app_name"
            android:theme="@style/Theme.Dialog"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter >
                <action android:name="de.tubs.ibr.dtn.dtalkie.RECORD_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:icon="@drawable/ic_settings" android:name=".Preferences" android:label="@string/preferences" />
        
		<service android:name=".service.TalkieService" />
		<service android:name=".service.RecorderService" />
		
	    <receiver
	        android:enabled="true"
	        android:name=".service.EventReceiver"
	        android:exported="true"
	        android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER">
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.STATE" />
	            <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />
	            <category android:name="de.tubs.ibr.dtn.dtalkie" />
	        </intent-filter>
	    </receiver>
    </application>

</manifest>