Source: ibrdtn
Priority: extra
Maintainer: Johannes Morgenroth <morgenroth@ibr.cs.tu-bs.de>
Build-Depends: debhelper (>= 7.0), autotools-dev, libssl-dev (>= 0.9.8), ibrcommon-dev, cdbs (>= 0.4), pkg-config, zlib1g-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.ibr.cs.tu-bs.de/projects/ibr-dtn/

Package: ibrdtn-dev
Section: libdevel
Architecture: any
Depends: ibrdtn1, libssl-dev (>= 0.9.8), ibrcommon-dev, zlib1g-dev
Description: Development files for ibrdtn library.
	Basic DTN library used by all IBR-DTN applications.
	.
	This package contains the include files.

Package: ibrdtn1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl0.9.8 (>= 0.9.8) | libssl1.0.0 (>=1.0.0), ibrcommon1, zlib1g
Description: Basic DTN library used by all IBR-DTN applications.
	This library contains classes to parse and encode DTN related
	data structures defined by RFC 5050 and several other standard
	documents.

Package: ibrdtn1-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ibrdtn1 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for ibrdtn1
	ibrdtn is the basic DTN library used by all IBR-DTN applications.
	.
	This package contains the debugging symbols for ibrdtn1.

