<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.ibr.dtn.chat"
    android:versionCode="23"
    android:versionName="1.0" >
    
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15" />
    
    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="de.tubs.ibr.dtn.permission.RECEIVE"/>

    <application
        android:theme="@style/MainTheme"
        android:icon="@drawable/chat"
        android:label="@string/app_name" >
        
        <activity android:icon="@drawable/chat" android:label="@string/app_name" android:name=".MainActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter >
                <action android:name="de.tubs.ibr.dtn.intent.DTNAPP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:icon="@drawable/ic_settings" android:name=".Preferences" android:label="@string/preferences" />

		<service android:name=".service.ChatService" />
		<service android:name=".service.TTSService" />
		
		<receiver android:process=":remote" android:name=".service.AlarmReceiver"></receiver>
		
	    <receiver android:enabled="true" android:name=".service.EventReceiver">
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.STATE" />
	            <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
	        <intent-filter>
				<action android:name="de.tubs.ibr.dtn.intent.REGISTRATION" />
	            <category android:name="de.tubs.ibr.dtn.chat" />
	        </intent-filter>
	        <intent-filter>
	            <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />
	            <category android:name="de.tubs.ibr.dtn.chat" />
	        </intent-filter>
	    </receiver>
    </application>

</manifest>