Source: ibrdtn-tools
Section: net
Priority: extra
Maintainer: Johannes Morgenroth <morgenroth@ibr.cs.tu-bs.de>
Build-Depends: cdbs, debhelper (>= 7.0), autotools-dev, bash-completion, ibrcommon-dev, ibrdtn-dev, cdbs (>= 0.4), libdaemon-dev (>= 0.12), pkg-config, libarchive-dev (>= 2.8)
Standards-Version: 3.9.4
Homepage: http://www.ibr.cs.tu-bs.de/projects/ibr-dtn/

Package: ibrdtn-tools
Architecture: any
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, ibrcommon1, ibrdtn1, libdaemon0 (>= 0.12), libarchive1 | libarchive12 | libarchive13
Recommends: bash-completion
Description: IBR-DTN Tools
	Tools (ping, send, recv, ...) to use in conjunction with IBR-DTN daemon.
	.
	This package contains the DTN tools for IBR-DTN.

Package: ibrdtn-tools-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ibrdtn-tools (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for ibrdtn-tools
	Tools (ping, send, recv, ...) to use in conjunction with IBR-DTN daemon.
	.
	This package contains the debugging symbols for ibrdtn-tools.

