m4
missing
install-sh
libtool
ltmain.sh
Makefile
.deps
autom4te.cache
config.log
config.status
configure
*.in
config.guess
config.sub
aclocal.m4
stamp-h1
version.inc
depcomp

config.guess
config.sub
aclocal.m4
stamp-h1
version.inc
depcomp
*.pc
config.h
version.m4

.libs
*.o
*.lo
*.la

Android.mk

